<!-- Author: Tan Guan Ying -->

<html lang="en">
    <script src="../header2.js"></script>
    <body>
        <div id="wrapper">
            <script src="../menu1.js"></script>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- Add body content -->
                    <div class="container-fluid">
                        <div class="col-lg-12">
                            <h1 class="page-header">Showroom Category Management</h1>
                        </div>
                    </div>

                    <!-- Form to add category -->
                    

                </div>
            </div>

        </div>
    </body>
</html>
